<nav>
    <ul class="nav navbar-nav navbar-centre">
        <li><%= link_to "Personal Info", personal_info_edit_users_path%></li>
        <li><%= link_to "Avatar", avatar_edit_users_path%></li>
        <li><%= link_to "Password", password_edit_users_path%></li>
        <li><%= link_to "Verification", verification_users_path%></li>

    </ul>
</nav>